* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #343541;
}


/* NAVBAR */

.navbar-toggler {
    background-color: none;
    border: none;
}




/* MODALES */

.subtitle {
    font-weight: bold;
}

.modal-content {
    background-color: #343541;
    color: #fff;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    border-top: none;
}


.card {
    background-color: #34383c;
    display: flex;
}

.card-body {
    display: flex;
    align-items: center;
}

.card-body a {
    color: #fff;
    font-weight: bold;
}

.card-body span {
    font-size: 30px;
}

.btn-dark {
    background-color: #414141;
    border: 0.2px solid #fff;
}

#first-button-next {
    display: flex;
    justify-content: flex-end; 
}




/* NEW CHAT AND OTHERS OPTIONS */

.informations {
    height: 100vh;
}

.row {
    width: 100%;
}



/* CONTAINER LEFT */

.container-left {
    background-color: #202123;
}

input[type="text"]::-webkit-input-placeholder {
    color: #fff;
}

.input-left {
    background-color: transparent !important;
    margin: 10px 0 0 0;
    outline: 1px solid #fff;
}

i {
    margin-top: 5px;
    color: #fff;
}

.options {
    text-decoration: none;
    color: #fff;
    margin: 5px;
}

.options:hover {
    color: #fff;
}

hr {
    color: #fff;
}



/* CONTAINER RIGHT */

.container-right {
    color: #fff;
    margin-top: 200px;
}

.grid {
    width: 60vw;
    margin: 0 auto;
}

.right-search {
    margin-top: 120px;
    margin-left: -15px;
}




/* HOME */

.row .icone {
    font-size: 20px;
}

.row .title {
    font-size: 20px;
    margin: 15px 0 20px 0px;
}

.subtitle_GPT {
    background-color: #3E3F4B;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
}

.subtitle_GPT:hover {
    background-color: #000000;
    cursor: pointer;
}

.input-group {
    border: none;
    width: 100%;
    height: 50px;
}

.form-control {
    background-color: #40404F;
    padding: 10px;
    margin-left: 10px;
    border: none;
}

.form-control:focus {
    background-color: #40404F;
}


.btn {
    background-color: #40404F;
    border: none;
}

.btn:hover {
    background-color: #40404F;
}

.subtitle-search {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -34px;
    font-size: 14.2px;
    color:#83858A;
}

.subtitle-search a {
    color:#83858A;
}


@media(max-width: 1190px) {

    .right-search {
        margin-top: 20px;
    }

    .subtitle-search {
        font-size: 10px;
    }
    .subtitle-search a {
        font-size: 10px;
    }
}


@media(max-width: 1330px) {

    .right-search {
        margin-top: 20px;
    }

    .subtitle-search {
        font-size: 10px;
    }
    .subtitle-search a {
        font-size: 10px;
    }
}


@media(max-width: 992px) {

    .subtitle-search {
        font-size: 10px;
    }
    .subtitle-search a {
        font-size: 10px;
    }
    
}

@media(max-width: 746px) {

    .subtitle-search {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }
    .subtitle-search a {
        font-size: 10px;
    }
    
}

@media(max-width: 746px) {

    .subtitle-search {
        display: flex;
        flex-direction: column;
        font-size: 7px;
    }
}



